# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.fleet/
.nova/
.zed/

# Backend
backend/vendor/
backend/node_modules/
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/.phpunit.cache
backend/storage/*.key
backend/storage/pail
backend/public/build
backend/public/hot
backend/public/storage
backend/auth.json
backend/Homestead.json
backend/Homestead.yaml
backend/composer.lock

# Miniprogram
miniprogram/node_modules/
miniprogram/.miniprogram_npm/

# Database (dev only)
backend/database/database.sqlite
